# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
env/
venv/
.venv/
ENV/
.ENV/

# PyInstaller
*.spec

# Logs and databases
*.log
*.sqlite3
*.db

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.tmp

# Model artifacts & data
models_out/
new_data/
A_datastuff/data/
training/adapters/

# Other
*.manifest